<header class="home-header">
  <div class="header-top">
    <div class="pc-container header-inner">
      <!-- Left: logo -->
      <div class="logo-area">
        <img src="images/logo-parinacoop.png" class="logo-img" alt="Parinacoop cooperativa de ahorro y crédito" />
      </div>

      <!-- Center: contact (PNG WhatsApp) -->
      <div class="center-area">
        <div class="contact">
          <img
            src="images/icono-wsp.png"
            srcset="images/icono-wsp@2x.png 2x"
            alt="WhatsApp"
            class="whatsapp-img"
            width="28"
            height="28"
          />
          <span class="contact-number">+56 9 3238 2725</span>
        </div>
      </div>

      <!-- Right: perfil y logout - usar userName calculado en el componente -->
      <div class="profile-area">
        <ng-container *ngIf="userName; else guest">
          <div class="profile-info">
            <div class="avatar" aria-hidden="true">
              <app-svg-icon icon="user" svgClass="w-6 h-6"></app-svg-icon>
            </div>
            <div class="profile-text">
              <div class="hello">Hola, {{ userName }}</div>
              <a [routerLink]="['/cliente/perfil']" class="profile-link">Mi Perfil</a>
            </div>
          </div>

          <button class="logout-btn" type="button" (click)="logout()">
            <span class="logout-text">Salir</span>
            <app-svg-icon icon="logout"></app-svg-icon>
          </button>
        </ng-container>

        <ng-template #guest>
          <div class="profile-info">
            <div class="avatar" aria-hidden="true"><app-svg-icon icon="user"></app-svg-icon></div>
            <div class="profile-text">
              <div class="hello">Hola</div>
              <a [routerLink]="['/cliente/login']" class="profile-link">Identifícate</a>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <!-- Navigation -->
  <nav class="pc-container nav-area">
    <div #linkBackdrop class="nav-backdrop"></div>
    <ul class="nav-list">
      <li *ngFor="let item of navItems">
        <a
          [ngClass]="['nav-link', item.disabled ? 'disabled' : '']"
          [routerLink]="item.disabled ? null : [item.link]"
          routerLinkActive="active"
          aria-current="page"
        >
          {{ item.label }}
        </a>
      </li>
    </ul>
  </nav>
</header>

<main class="overflow-y-auto">
  <router-outlet />
</main>