<header class="flex flex-col items-center">
  <div class="grid w-full place-items-center bg-nav-color">
    <div class="flex w-full max-w-7xl items-center justify-between px-10">
      <div class="grid w-56 place-items-start">
        <img
          src="images/logo-parinacoop.png"
          class="h-20"
          alt="Parinacoop cooperativa de ahorro y crédito"
        />
      </div>
      <div class="grid w-56 place-items-end">
        <button
          class="flex items-center gap-2 text-secondary-500 hover:underline"
          type="button"
          (click)="logout()"
        >
          Cerrar sesión
          <app-svg-icon icon="logout" />
        </button>
      </div>
    </div>
  </div>
  <nav class="relative">
    <div
      #linkBackdrop
      class="absolute bottom-0 left-[var(--left)] h-[2px] w-44 bg-primary-500 transition-all duration-200"
    ></div>
    <ul class="flex text-black">
      @for (navItem of navItems; track $index) {
        <li>
          <a
            [ngClass]="[
              'inline-block h-8 w-44 select-none content-center rounded-b text-center transition-colors duration-200',
              'hover:text-primary-500',
              navItem.disabled
                ? 'pointer-events-none cursor-default text-gray-400'
                : '',
            ]"
            [routerLink]="navItem.disabled ? null : [navItem.link]"
            routerLinkActive="text-primary-500"
            aria-current="page"
            >{{ navItem.label }}</a
          >
        </li>
      }
    </ul>
  </nav>
</header>
<main class="overflow-y-auto">
  <router-outlet />
</main>
