<div class="flex items-start gap-4">
  <article
    class="relative grid grid-cols-[repeat(5,minmax(0,1fr))_8.3%] place-items-center rounded-lg border border-[#dcdcdc] bg-nav-color py-3 text-sm [&>div]:flex [&>div]:flex-col flex-1 leading-relaxed whitespace-normal"
  >
    <div>
      <span class="font-medium">Depósito a Plazo</span>
      <span>{{ dap.id | idPad }}</span>
    </div>

    <div>
      <span class="font-medium">Tipo de depósito</span>
      <span>{{ dap.type | dapType }}</span>
    </div>

    <div>
      <span class="font-medium">Vencimiento</span>
      <span>{{ dap.dueDate | date: 'dd-MM-yyyy' }}</span>
    </div>

    <div>
      <span class="font-medium">Monto a recibir</span>
      <span>{{ dap.finalAmount | currency: 'CLP' : 'symbol' }}</span>
    </div>

    <div>
      <span class="font-medium">Estado depósito</span>
      <span>{{ dap.status | dapStatus }}</span>
    </div>

    <!-- Última columna: acciones (separación a la derecha con pr-8) -->
    <div class="flex items-center justify-end pr-8">
      <div class="flex gap-4 items-center text-sm">
        <a class="text-primary-600 hover:underline cursor-pointer" (click)="openDialog(dap)">
          Ver detalle
        </a>

        <a
          class="text-primary-600 hover:underline cursor-pointer"
          (click)="openAttachments(dap)"
          role="button"
        >
          Adjuntos
        </a>
      </div>
    </div>
  </article>
</div>