.dap-item-article {
  display: grid;
  grid-template-columns: var(--dap-cols);
  align-items: center;

  background: #ffffff;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.06);

  padding: 12px 8px;
  font-size: 14px;
}

/* CELDAS */
.cell {
  display: flex;
  align-items: center;
  justify-content: center; /* centro horizontal */
  text-align: center;

  padding: 6px 8px;
  min-height: 44px;
  box-sizing: border-box;
  color: #111827;
}

/* Primera columna */
.cell-id {
  justify-content: flex-start;
  text-align: left;
  padding-left: 12px;
  font-weight: 700;
}

/* Acciones */
.cell-actions {
  justify-content: flex-end;
  padding-right: 12px;
}

/* Evita quiebres */
.cell-op,
.cell-amount,
.cell-interest {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Acciones */
.actions-inner {
  display: inline-flex;
  align-items: center;
  gap: 12px;
}

.action-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background: transparent;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  color: #f49404;
}

.action-btn:hover {
  background: rgba(244, 148, 4, 0.15);
}

@media (max-width: 1100px) {
  .dap-item-article {
    min-width: 1100px;
  }
}
